.list-news {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.list-news__item {
    position: relative;
    max-width: 288px;
    height: 630px;
}
  
.item-news__wrapper-img {
    position: relative;
    margin-bottom: 20px;
}
  
.item-news__img {
    min-width: 288px;
    height: 395px;
    border-radius: 4px;
    object-fit: cover;
}
  
.item-news__category {
    position: absolute;
    display: flex;
    cursor: pointer;
    min-width: 96px;
    height: auto;
    padding: 4px 14px;
    margin: 0;
    left: 0px;
    top: 40px;
    background: rgba(68, 64, 246, 0.7);
    color: #ffffff;
    border-radius: 0px 4px 4px 0px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    justify-content: center;
}

.item-news__already-read {
    position: absolute;
    display: none;
    min-width: 107px;
    height: auto;
    margin: 0;
    right: 21px;
    top: 20px;
    background: transparent;
    color: #00DD73;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    justify-content: center;
}
  
.item-news__add-to-favorite {
    position: absolute;
    display: flex;
    z-index: 2;
    min-width: 40px;
    min-height: 10px;
    margin: 0;
    padding: 6px 12px 6px 12px;
    right: 12px;
    bottom: 12px;
    background: #ffffff;
    border-radius: 20px;
  
    font-weight: 500;
    font-size: 12px;
    line-height: calc(16/12);
    text-align: left;

    color: #111321;
  
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item-news__icon{
    padding-left: 4px;
}

.item-news__heart-icon {
    position: absolute;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item-news__title {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(33 / 24);
    letter-spacing: -0.01em;
    color: #111321;
}
  
.item-news__description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(19 / 14);
    color: #111321;
}
  
.item-news__info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
  
.item-news__info-date {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(19/14);
    text-align: right;
    color: #A8A8A8;
}
  
.item-news__info-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(19/14);
    color: #4440F6;
}


@media screen and (min-width: 767px) {
    .list-news__item {
        width: calc((100% - 30px) / 2);
        max-width: 353px;
        max-height: 675px;
    }
    
    .item-news__title {
      font-size: 32px;
      line-height: calc(44 / 32);
      letter-spacing: -0.01em;
    }
  
    .item-news__description {
      font-size: 16px;
      line-height: calc(22 / 16);
    }
  
    .item-news__img {
      width: 353px;
      height: 395px;
    }
  
    .item-news__wrapper-text {
      display: flex;
      flex-direction: column;
    }
  
    .item-news__info {
      width: 100%;
    }
  
 @media screen and (min-width: 1279px) {
      .list-news__item {
        width: calc((100% - 60px) / 3);
      }
  
      .item-news__img {
        width: 395px;
        height: 395px;
      }
  
      .item-news__info {
        width: 100%;
      }
  
      .item-news__wrapper-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
  
      .item-news__title {
        font-size: 32px;
        line-height: 44px;
      }
    }
}