.section__list-news {
	margin-top: 0;
}

.list-news {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;


}

.list-news__item {
	pointer-events: auto;
	width: 100%;
	max-height: 630px;
	position: relative;
}

.is-ghost {
	opacity: 0.4;
}

.item-news__wrapper-img {
	position: relative;
	margin-bottom: 20px;
}

.item-news__img {
	min-width: 288px;
	height: 395px;
	border-radius: 4px;
	object-fit: cover;
}

.item-news__category {
	position: absolute;
	display: flex;
	cursor: pointer;
	min-width: 96px;
	height: auto;
	padding: 4px 14px;
	margin: 0;
	left: 0px;
	top: 40px;
	background: rgba(68, 64, 246, 0.7);
	color: var(--third-color);
	border-radius: 0px 4px 4px 0px;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	justify-content: center;
}

.item-news__already-read {
	display: none;
	justify-content: center;
	position: absolute;
	z-index: 1;
	min-width: 107px;
	height: auto;
	margin: 0;
	right: 21px;
	top: 20px;
	background: transparent;
	color: #00DD73;
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
}

.item-news__wrapper-text {
	margin-bottom: 20px;
}

.is-read {
	display: block;
}

.item-news__add-to-favorite {
	position: absolute;
	cursor: pointer;
	display: flex;
	z-index: 2;
	min-width: 40px;
	min-height: 10px;
	margin: 0;
	padding: 6px 12px 6px 12px;
	right: 12px;
	bottom: 12px;
	background: var(--third-color);
	border-radius: 20px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item-news__add-text {
	user-select: none;
	margin: 0;
	font-weight: 500;
	font-size: 12px;
	line-height: calc(16/12);
	text-align: left;
	color: #111321;
}

.item-news__icon {
	padding-left: 4px;
	pointer-events: none;
	fill: #ffffff;
	width: 16px;
	height: 16px;
}

.item-news__icon-check {
	width: 18px;
	height: 18px;
}

.item-news__heart-icon {
	position: absolute;
}

.is-saved {
	fill: var(--theme-color);
}

.item-news__title {
	margin-bottom: 20px;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.375;
	letter-spacing: -0.01em;
	color: var(--main-color);
}

.item-news__description {
	min-height: 44px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: calc(19 / 14);
	color: var(--main-color);
}

.item-news__info {
	display: flex;
	justify-content: space-between;
}

.item-news__info-date {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: calc(19/14);
	text-align: right;
	color: var(--second-color);
}

.item-news__info-link {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: calc(19/14);
	color: var(--accent-color);
}


@media screen and (min-width: 767px) {
	.list-news__item {
		width: calc(50% - 15px);
		min-height: 675px;
		max-height: none;
	}

	.item-news__title {
		letter-spacing: -.01em;
		font-size: 32px;
		line-height: 1.375;
		height: 167px;
		flex-grow: 1;
		overflow: hidden;
	}

	.item-news__description {
		font-size: 16px;
		line-height: calc(22 / 16);
	}

	.item-news__img {
		width: 353px;
		height: 395px;
	}

	.item-news__wrapper-text {
		flex-direction: column;
		display: flex;
	}

	.item-news__info {
		width: 100%;
	}

	@media screen and (min-width: 1279px) {
		.list-news__item {
			width: calc(33.3333% - 20px);
		}

		.item-news__img {
			width: 395px;
			height: 395px;
		}
		.item-news__wrapper-text {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.item-news__title {
			font-size: 32px;
			line-height: 1.375;
		}
	}
}