.body {
	position: relative;
}

.is-favorite {
	margin-top: 60px;
	margin-bottom: 210px;
}

.item-news__article {
	opacity: 1;
	transition: opacity 350ms ease-in;
}

.is-disappered {
	opacity: 0;
}

.is-removed {
	position: absolute;
	transform: translateY(-700px);
}