body.is-open {
  overflow: hidden;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  width: 320px;
}
.position-header {
  position: relative;
  flex-direction: column;
}
.home-header {
  display: flex;
  padding: 24px 0px 24px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

.icon-menu {
  fill: var(--main-color);
  color: var(--main-color);
}
.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: var(--main-color);
}
.logo-header {
  margin-right: 10px;
}

.menu-button {
  display: inline-block;
  padding: 0;
  margin-left: auto;
  background-color: var(--third-color);
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 5px;
  right: 0px;
}
.menu-container {
  display: none;
  position: relative;
}
.menu-container.is-open {
  display: block;
  padding-bottom: 18px;
  /* overflow-y: scroll; */
  /* height: 560px; */
  height: 75vh;
}
.icon-close {
  display: none;
  fill: var(--main-color);
  color: var(--main-color);
  background-color: rgba(0, 0, 0, 0.2);
}
.menu-button.is-open .icon-close {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}

.icon {
  margin-right: 14px;
  border: 1px solid var(--bg-color);
  border-radius: 50%;
}
.site-nav--link {
  display: flex;
  align-items: center;
  padding: 6px 0px 6px 0px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.site-nav--link:hover {
  background-color: var(--accent-color);
}
.site-nav--item {
  margin-bottom: 0;
  width: 320px;
}
.icon-right {
  margin-left: auto;
  fill: var(--bg-color);
}
.site-nav--list {
  height: 100%;
  margin-top: 68px;
}

.form-search {
  fill: #000000;
  position: absolute;
  top: 4px;
  right: 32px;
  overflow: hidden;
}

.input-label {
  display: flex;
  flex-direction: column;
  transform: translateX(+80%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-label:hover {
  transform: translateX(0);
}

.search-name {
  position: absolute;
  top: 4px;
  left: 0px;
  padding-right: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: var(--main-color);
  opacity: 0.4;
  margin-left: 32px;
  opacity: 0.4;
  border-right: 1px solid var(--main-color);
}

.input-search {
  width: 150px;
  padding: 5px 0 5px 30px;
  display: block;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  border-radius: 20px;
  background-color: transparent;
  border-color: transparent;
}

.input-label:hover .input-search {
  border: 1px solid var(--main-color);
  background-color: var(--third-color);
}

.icon-search {
  margin-right: 14px;
  cursor: pointer;
  position: absolute;
  top: 4px;
  left: 8px;
}

.search {
  display: inline-block;
  margin-right: 14px;
  overflow: hidden;
}

.search:hover .input-search {
  transform: translateX(-100%);
}

.form-search.is-open {
  display: none;
}

.icon-toggle-n {
  display: none;
}

.theme-toggle {
  display: flex;
  align-items: flex-end;
  margin-top: auto;
  position: absolute;
  bottom: 18px;
}

.theme-descr {
  display: none;
}
.icon-them-sun {
  display: flex;
}
.icon-them-moon {
  display: flex;
}
.theme-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 40px;
  height: 20px;
  padding: 0;
  margin-right: 8px;
  margin-left: 8px;
  border: none;
}
.button-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 20px;
}

.login {
  margin-bottom: 20px;
  font-weight: 400;
  color: var(--main-color);
}
/* body.themeDark .login {
  
} */

.registr {
  color: var(--main-color);
  font-weight: 400;
}
/* body.themeDark .registr {
  color: var(--third-color);
} */
.logout {
  color: var(--main-color);
  font-weight: 400;
}
/* body.themeDark .logout {
  color: var(--third-color);
} */
@media screen and (min-width: 768px) {
  .logo {
    font-size: 32px;
    line-height: 44px;
  }
  .container {
    width: 768px;
  }
  .position-header {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .home-header {
    padding: 32px 0px 32px 0px;
    position: static;
    display: block;
  }
  .icon-menu {
    display: none;
  }
  .logo-header {
    margin-right: 48px;
  }
  .menu-button {
    display: none;
  }
  .menu-container {
    display: flex;
  }
  .icon {
    display: none;
  }
  .site-nav--link {
    display: inline;

    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 8px;
  }

  .site-nav--item {
    width: 100%;
  }
  .site-nav--link:hover {
    background-color: transparent;
    color: var(--accent-color);
  }
  .site-nav--item:not(:last-child) {
    margin: 0 44px 0 0;
  }
  .site-nav--item:last-child {
    margin: 0 32px 0 0;
  }
  .icon-right {
    display: none;
  }
  .site-nav--list {
    margin-top: 0;
    display: flex;
  }

  .form-search {
    fill: #000000;
    position: relative;
    top: 0;
    right: 0;
  }
  .input-label {
    display: flex;
    flex-direction: row;
    transform: none;
  }

  .input-search {
    width: 173px;
    display: block;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid var(--main-color);
    background-color: #fff;
  }

  .icon-search {
    position: absolute;
    top: 0px;
  }

  .icon-search {
    margin-right: 14px;
    cursor: pointer;
    position: absolute;
    top: 4px;
    left: 8px;
  }

  .theme-toggle {
    display: flex;
    align-items: center;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    top: 0px;
    right: -370px;
  }
  .current-page {
    border-bottom: 1px solid var(--accent-color);
  }
  .button-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 30px;
    position: absolute;
    bottom: 0;
    top: -45px;
    right: -240px;
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    font-size: 42px;
    line-height: 57px;
  }
  .container {
    width: 1280px;
  }

  .home-header {
    padding: 28px 0px 28px 0px;
  }
  .logo-header {
    margin-right: 102px;
  }
  .site-nav--link {
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 5px;
  }

  .site-nav--item:not(:last-child) {
    margin-right: 69px;
  }
  .site-nav--item:last-child {
    margin-right: 147px;
  }

  .input-search {
    width: 248px;
  }

  .theme-toggle {
    display: flex;
    align-items: center;
    margin-top: auto;
    position: absolute;
    top: 0px;
    right: -600px;
  }
  .theme-descr {
    display: inline;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
  }
  .icon-them-sun {
    display: flex;
  }
  .icon-them-moon {
    display: flex;
  }
  .theme-icon-light {
    display: none;
  }
  .theme-icon-dark {
    display: none;
  }
  .button-box {
    display: inline;
    position: absolute;
    margin: 0;
    bottom: 0;
    top: 0;
    right: -390px;
  }
  .login {
    margin-bottom: 0px;
    margin-right: 15px;
  }
}
