body.is-open {
  overflow: hidden;
}

body.themeDark .home-header {
  border-bottom: 1px solid rgba(244, 244, 244, 0.2);
  color: var(--bg-color);
}

/* .theme__dark {
    opacity: 1;
  }  */

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  width: 480px;
}
.position-header {
  display: flex;
  align-items: center;
}
.home-header {
  display: flex;
  padding: 24px 0px 24px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

.icon-menu {
  fill: var(--main-color);
  color: var(--main-color);
}
.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: var(--main-color);
}
.logo-header {
  margin-right: 10px;
}

.menu-button {
  margin-left: 14px;
}
.menu-container {
  display: none;
  position: relative;
}
.menu-container.is-open {
  display: block;
  padding-bottom: 18px;
  overflow-y: scroll;
  height: 85vh;
}
.icon-close {
  display: none;
  fill: var(--main-color);
  color: var(--main-color);
  background-color: rgba(0, 0, 0, 0.2);
}
.menu-button.is-open .icon-close {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}

.icon {
  margin-right: 14px;
  border: 1px solid var(--bg-color);
  border-radius: 50%;
}
.site-nav--link {
  display: flex;
  align-items: center;
  padding: 6px 0px 6px 0px;
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.site-nav--link:hover {
  background-color: var(--accent-color);
}
.site-nav--item {
  margin-bottom: 0;
  width: 320px;
}
.icon-right {
  margin-left: auto;
  fill: var(--bg-color);
}
.site-nav--list {
  height: 100%;
  margin-top: 68px;
}

.form-search {
  height: 31px;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  display: flex;
}

@media screen and (min-width: 768px) {
  .form-search {
    border: 1px solid var(--main-color);
    width: 213px;
    border-radius: 20px;
    margin-top: 44px;
    margin-bottom: 31px;
  }
}

@media screen and (min-width: 1280px) {
  .form-search {
    width: 288px;
    margin-left: 147px;
    margin-right: 147px;
  }
}

@media screen and (max-width: 768px) {
  .search-field:hover {
    margin-top: 1px;
    border: 1px solid var(--main-color);
    border-radius: 20px;
  }
  input {
    width: 125px;
    padding: 8px 0;
  }

  .search-field__btn {
    color: var(--main-color);
    transition: all 0.4s;
  }
}
@media screen and (min-width: 768px) {
  .search-field__btn {
    padding: 8px 19px 8px 14px;
  }
}

.search-name {
  position: absolute;
  top: 4px;
  left: 0px;
  padding-right: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: var(--main-color);
  opacity: 0.4;
  margin-left: 32px;
  opacity: 0.4;
  border-right: 1px solid var(--main-color);
}

.search {
  display: inline-block;
  margin-right: 14px;
  overflow: hidden;
}

.form-search.is-open {
  display: none;
}

.icon-toggle-n {
  display: none;
}
/* 
.theme-toggle{
    display: flex;
    align-items:flex-end;
    margin-top: auto;
    position: absolute;
    bottom: 18px;
    
}


.theme-descr{
    display: none;
} */
.icon-them-sun {
  display: flex;
}
.icon-them-moon {
  display: flex;
}
/* .theme-button{
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 40px;
    height: 20px;
    padding: 0;
    margin-right: 8px;
    margin-left: 8px;
    border: none;
} */
@media screen and (min-width: 768px) {
  .logo {
    font-size: 32px;
    line-height: 44px;
  }
  .container {
    width: 768px;
  }
  .position-header {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .home-header {
    padding: 0px 0px 0px 0px;
    position: static;
    display: block;
  }
  .icon-menu {
    display: none;
  }
  .logo-header {
    margin-right: 48px;
  }
  .menu-button {
    display: none;
  }
  .menu-container {
    display: flex;
  }
  .icon {
    display: none;
  }

  .site-nav {
    padding-top: 48px;
    padding-bottom: 36px;
  }
  .site-nav--link {
    display: inline;
    color: var(--main-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 8px;
  }

  .site-nav--item {
    width: 100%;
  }
  .site-nav--link:hover {
    background-color: transparent;
    color: var(--border-color);
  }
  .site-nav--item:not(:last-child) {
    margin: 0 44px 0 0;
  }
  .site-nav--item:last-child {
    margin: 0 32px 0 0;
  }
  .icon-right {
    display: none;
  }
  .site-nav--list {
    margin-top: 0;
    display: flex;
  }

  .icon-search {
    fill: var(--main-color);
  }
  /*     
    .theme-toggle{
        display: flex;
        align-items: center;
        margin-top: auto;
        position: absolute;
        bottom: 0;
        top: 0px;
        right: -370px;
    } */
  .current-page {
    border-bottom: 1px solid var(--border-color);
  }
  .theme-site {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 49px;
    margin-bottom: 36px;
    margin-left: 24px;
    gap: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    font-size: 42px;
    line-height: 57px;
  }
  .container {
    width: 1280px;
  }

  .logo-header {
    margin-right: 102px;
  }
  .site-nav--link {
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 5px;
  }

  .site-nav--item:not(:last-child) {
    margin-right: 69px;
  }

  /*     
    .theme-toggle{
        display: flex;
        align-items: center;
        margin-top: auto;
        position: absolute;
        top: 0px;
        right: -600px;
    }
    .theme-descr{
    display: inline;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    }
    .icon-them-sun{
        display: flex;
    }
    .icon-them-moon{
        display: flex;
    }
    .theme-icon-light{
        display: none;
    }
    .theme-icon-dark{
        display: none;
    } */
  .theme-site {
    gap: 12px;
  }
}
input {
  font-family: 'Poppins';
  font-size: 12px;
  line-height: calc(21 / 12);
  letter-spacing: 0.02em;
  color: var(--main-color);
  border: none;
  background: none;
  outline: none;
}

input:focus {
  color: var(--main-color);
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  transition: background-color 9999s, color 9999s;
}
@media screen and (max-width: 768px) {
  input {
    padding: 0;
    transition: 0.4s;
    width: 0;
  }
}

@media screen and (min-width: 768px) {
  input {
    padding: 5px 0;
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}
