.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin: 60px 0 150px;
  padding: 10px 15px;
  line-height: 1.4;
}

.pagination .pages {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
}

.pg-link {
  padding: 4px 12px 5px;
}

.pages li {
  list-style: none;
  cursor: pointer;
  overflow: hidden;
}

.pages li.active {
  background-color: var(--border-color);
}
.pages li.active a {
  color: #fff;
}

.prev-page,
.next-page,
.pg-item {
  padding: 4px 12px 5px;
  border: 1px solid var(--accent-color);
  border-radius: 2px;
  margin: 0 8px 0 0;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
}

.pg-item {
  padding: 4px 0;
}

.prev-page[disabled],
.next-page[disabled] {
  cursor: default;
  color: #111321;
}

.pages li.pg-ellipsis {
  border: none;
  cursor: default;
  padding-left: 0;
  padding-right: 0;
}

body.themeDark .prev-page,
.next-page,
.pages li {
  background-color: var(--third-color);
  color: #111321;
}

body.themeDark .pages li.pg-ellipsis {
  background-color: transparent;
  color: var(--third-color);
}

.prev-page svg {
  display: inline-block;
  margin-right: 10px;
}

.next-page svg {
  display: inline-block;
  margin-left: 10px;
}
 
body.themeDark .prev-page[disabled],
.next-page[disabled] {
  color: #111321;
}