.accordion {
	display: block;
}

.accordion__by-date {
	display: block;
	margin-top: 40px;
	margin-bottom: 40px;
}

@media screen and (min-width: 767px) {
	.accordion__title {
		padding-left: 16px;
	}
}

@media screen and (min-width: 1279px) {
	.accordion__title {
		padding-left: 127px;
	}
}

@media screen and (max-width: 766px) {
	.accordion__title {
		padding-left: 65px;
	}
}

.accordion__title {
	display: flex;

	align-items: flex-end;
	padding-bottom: 12px;
	border-bottom: 1px solid #929292;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.02em;

	cursor: pointer;
	outline: none;
	transition: 0.4s;
	color: #111321;
}

.accordion__arrow {
	pointer-events: none;
	margin-left: 8px;
	border: solid black;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	margin-bottom: 6px;
}

.accordion__arrow--up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.accordion__arrow--down {
	align-self: center;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.accordion__content {
	display: none;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: flex-start;
}

.is-active {
	display: flex;
}