.weather{
    background-color: #4440F6;
    color: #ffff;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    font-weight: 400;
    line-height: 1.2 ;
    /* position: absolute; */
}

@media screen and (min-width: 320px) {
    .weather {
        width: 288px;
        height: 469px;
    }
}

@media screen and (min-width: 768px) {
    .weather{
        width: 353px;
        height: 675px;
    }
}
@media screen and (min-width: 1280px) {
    .weather {
        width: 395px;
        
    }
}


.weather__hat{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        margin-bottom: 90px;
}


@media screen and (min-width: 320px) {
    .weather__hat {
    padding-top: 30px;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 768px) {
    .weather__hat {
    padding-top: 40px;
        margin-bottom: 90px;
    }
}


.weather__temperature{
   
    position: relative;
    margin: 0;
    padding-right: 8px;
}


@media screen and (min-width: 320px) {
    .weather__temperature{
    font-size: 55px;
    
    }
}

@media screen and (min-width: 768px) {
    .weather__temperature {
        font-size: 64px;
    }
}

.weather__temperature::after{
    content: "";
        background: white;
        position: absolute;
        bottom: 0;
        right: 0px;
        height: 100%;
        width: 1.5px;
        
}



@media screen and (min-width: 320px) {
    .weather__description {
        font-size: 24px;
        margin: 0;
            margin-left: 15px;
    }
}

@media screen and (min-width: 768px) {
    .weather__description {
        font-size: 36px;
            margin: 0;
            margin-left: 15px;
    }
}



.weather__location{
    background: rgba(254, 254, 255, 0.3);
    border-radius: 10px;
    display: inline-flex;
    padding: 7px 0px;
    align-items: center;

    margin-left: 8px;
}

.weather__svg{
    
    margin-right: 8px;
    padding-left: 7px;
}

@media screen and (min-width: 320px) {
    .weather__svg {
        width: 18px;
            height: 18px;
    }
}

@media screen and (min-width: 768px) {
    .weather__svg {
        width: 27px;
            height: 27px;
    }
}




@media screen and (min-width: 320px) {
    .weather__city {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    .weather__city {
        font-size: 20px;
    }
}





@media screen and (min-width: 320px) {
    .weather__location {
        width: 121px;
        
    }
}


@media screen and (min-width: 768px) {
    .weather__location {
        width: 177px;

    }
}



.weather__icon{
    display: flex;
    justify-content: center;
}



@media screen and (min-width: 320px) {
    .weather__pic {
        width: 128px;
        height: 121px;
        margin-bottom: 40px;
    }
}


@media screen and (min-width: 768px) {
    .weather__pic {
        width: 165px;
        height: 156px;
        margin-bottom: 90px;
    }
}




/* .weather__date{
    margin-bottom: 28px;
} */

.weather__day{
    
    /* display: flex;
        justify-content: center;
        align-items: center; */

        vertical-align: middle;
            text-align: center;
       
}


@media screen and (min-width: 320px) {
    .weather__day {
    font-size: 28px;
    }
}


@media screen and (min-width: 768px) {
    .weather__day {
        font-size: 36px;
    }
}

.weather__button{
    
        display: flex;
        justify-content: center;
        align-items: center;

        

    
        
}

@media screen and (min-width: 320px) {
    .weather__button {
        margin-top: 18px;
        margin-bottom: 33px;
    }
}


@media screen and (min-width: 768px) {
    .weather__button {
        margin-top: 28px;
        margin-bottom: 60px;
    }
}

        


.weather__btn{
    border: none;
        
    
        background: rgba(254, 254, 255, 0.3);
        border-radius: 10px;

        font-size: 16px;
        color: #ffff;
        padding: 8px 14px;
        cursor: pointer;

}

.weather__btn:hover{
    background-color: lightskyblue;
}

@media screen and (min-width: 320px) {
    .weather__btn {
        width: 151px;
            height: 34px;
    }
}


@media screen and (min-width: 768px) {
    .weather__btn {
        width: 177px;
            height: 42px;
    }
}
