.weather {
  background-color: var(--accent-color);
  padding: 32px 36px;
  color: #fff;
  border: 0px solid;
  border-radius: 4px;
  height: 100%;
}
.weather__info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.weather__deg {
  border-right: 1px solid #fff;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 55px;
  line-height: calc((64 / 55));
}

.weather__geo {
  display: flex;
  flex-direction: column;
  margin-left: 11px;
}

.weather__value {
  font-weight: 400;
  font-size: 24px;
  line-height: calc(28 / 24);
  font-family: 'Roboto';
}

.weather__location {
  display: flex;
  align-items: center;
  padding: 8px;
  height: 34px;
  background: rgba(254, 254, 255, 0.3);
  border-radius: 10px;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: calc(16 / 14);
}

.weather__location svg {
  width: 18px;
  height: 18px;
  color: #fff;
  margin-right: 5px;
}
.weatner__img {
  margin-bottom: 20px;
  width: 168px;
  margin-left: auto;
  margin-right: auto;
}

.weather__date {
  font-size: 36px;
  line-height: calc(42 / 36);
  margin-bottom: 28px;
}
.weather__date {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 20px;
}

.weather link {
  display: block;
  padding: 8px 14px;
  width: 151px;
  background-color: rgba(254, 254, 255, 0.3);
  border-radius: 10px;
  margin: 0 auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  transition: background-color 250ms ease;
}
.weather link:hover {
  background: rgba(254, 254, 255, 0.5);
}

@media screen and (min-width: 320px) {
  .weather {
    width: 288px;
    height: 469px;
  }
}

@media screen and (min-width: 768px) {
  .weather {
    width: 353px;
    padding: 40px 32px 60px 32px;
  }
  .weather__info {
    margin-bottom: 65px;
  }
  .weather__deg {
    font-size: 64px;
    line-height: calc(75 / 64);
    padding-right: 8px;
  }
  .weather__geo {
    margin-left: 8px;
  }
  .weather__value {
    font-size: 36px;
    line-height: calc(42 / 36);
  }
  .weather__location {
    font-size: 20px;
    line-height: calc(23 / 20);
    height: 42px;
    padding-right: 17px;
  }

  .weather__location svg {
    width: 27px;
    height: 27px;
  }
  .weatner__img {
    margin-bottom: 65px;
    width: 205px;
  }

  .weather link {
    padding: 10px 12px;
    width: 177px;
    font-size: 20px;
    line-height: calc(23 / 20);
  }
}
@media screen and (min-width: 1280px) {
  .weather {
    width: 395px;
    padding: 40px 53px;
  }
}
