
<div class="calendar-form">
    <div class="input-date-form">
    
      <svg class="calendar-icon" width="19" height="19">
          <use href="../img/icons_site.svg#icon-calendar">
      </svg>
      <input id="input-picker" class="input-calendar">
      <svg class="calendar-arrows" width="9" height="15">
          <use href="../img/sprite-icons.svg#icon-down">
      </svg>
    
    </div>    

    <div class="wrapper-calendar">
    <div class="calendar__header">
      <p class="current-date"></p>
      <svg id="next__year" class="calendar-img__date" width="7" height="12">
        <use href="../img/icons_site.svg#icon-chevron_left_smol">
      </svg>
      <div class="icons-calendar">
        <svg id="prev" class="calendar-img left" width="9" height="17">
            <use href="../img/sprite-icons.svg#icon-right">
        </svg>
        <svg id="next" class="calendar-img rigth" width="9" height="17">
            <use href="../img/sprite-icons.svg#icon-right">
        </svg>
      </div>
    </div>
    <div class="calendar-register">
      <ul class="calendar-weeks">
          <li class="calendar-weeks__list">Mon</li>
          <li class="calendar-weeks__list">Tue</li>
          <li class="calendar-weeks__list">Wed</li>
          <li class="calendar-weeks__list">Thu</li>
          <li class="calendar-weeks__list">Fri</li>
          <li class="calendar-weeks__list">Sat</li>
          <li class="calendar-weeks__list">Sun</li>
      </ul>
      <ul class="calendar-days"></ul>
</div>
  </div>
</div>


