<section class="section">
    <div class="container">
        <div class="backdrop is-hidden" data-modal>
            <div class="modal">
                <button class="button-exit" type="button" data-modal-close>
                    <svg width="11" height="11">
                        <use href="./img/icons_site.svg#exit"></use>
                    </svg>
                </button>
                <h2 class="modal--head">Create user profile</h2>
                <div >
                <form action="" class="modal-form" id="formReg">
                    <label for="nameReg" class="modal-form--label" name="nameReg"> Name
                    <input type="text" id="nameReg" class="modal-form--input" required>
                        <svg width="18" height="18" class="modal-form--icon">
                            <use href="./img/icons_site.svg#name"></use>
                        </svg>
                    </label>
                    <label for="passReg" class="modal-form--label">Password
                        <input type="password" id="passReg" class="modal-form--input" name="passReg" required>
                        <svg width="18" height="18" class="modal-form--icon">
                            <use href="./img/icons_site.svg#icon-password"></use>
                        </svg>
                    </label>
                    <label for="emailReg" class="modal-form--label">Email
                        <input type="email" class="modal-form--input" id="emailReg" name="emailReg" required>
                        <svg width="18" height="18" class="modal-form--icon">
                            <use href="./img/icons_site.svg#mail"></use>
                        </svg>
                    </label>
                    <label for="checkbox" class="checkbox--label">
                        <input type="checkbox" id="checkbox" class="checkbox" name="checkbox" required>
                        I agree that team #1 is the best
                        <span class="checkbox--icon">
                            <svg width="12" height="11" class="checkbox--svg">
                                <use href="./img/icons_site.svg#iconcheck"></use>
                            </svg>
                        </span>
                    </label>
        
                    <button type="submit" class="modal--submit" id="submitReg" data-submitReg >Register</button>
                </form>
                </div>
            </div>
        </div>        
     
        <div class="position-categories">
            <div class="categories-box">
                <ul class="categories-list">
                </ul>
                <ul class="categories-list-others">
                </ul>
                <div class="menu-box">
                    <p class="categories-menu">Categories</p>
                    <p class="categories-others-menu">Others</p>
                    <button type="button" class="button-categories">
                        <svg width="14" height="14" class="categories-button--icon">
                            <use href="./img/icons_site.svg#icon-down" class="icon-toggle-d"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <p class="calendar-form__text">Search date news</p>
            <div class="calendar-form">
                <div class="input-date-form">
            
                    <svg class="calendar-icon" width="19" height="19">
                        <use href="../img/icons_site.svg#icon-calendar">
                    </svg>
                    <input id="input-picker" class="input-calendar" placeholder="Виберіть дату...">
                    <svg class="calendar-arrows" width="9" height="15">
                        <use href="../img/icons_site.svg#icon-down">
                    </svg>
            
                </div>
                <div class="wrapper-calendar is-hidden">
                    <div class="wrapper-calendar__container">
                        <div class="calendar__header">
                            <p class="current-date"></p>
                            <svg id="next__year" class="calendar-img__date" width="7" height="12">
                                <use href="../img/icons_site.svg#icon-chevron_rigth">
                            </svg>
                            <div class="icons-calendar">
                                <svg id="prev" class="calendar-img left" width="9" height="17">
                                    <use href="../img/icons_site.svg#icon-chevron_left">
                                </svg>
                                <svg id="next" class="calendar-img rigth" width="9" height="17">
                                    <use href="../img/icons_site.svg#icon-chevron_rigth">
                                </svg>
                            </div>
                        </div>
                        <div class="calendar-register">
                            <ul class="calendar-weeks">
                                <li class="calendar-weeks__list">Mon</li>
                                <li class="calendar-weeks__list">Tue</li>
                                <li class="calendar-weeks__list">Wed</li>
                                <li class="calendar-weeks__list">Thu</li>
                                <li class="calendar-weeks__list">Fri</li>
                                <li class="calendar-weeks__list">Sat</li>
                                <li class="calendar-weeks__list">Sun</li>
                            </ul>
                            <ul class="calendar-days"></ul>
                        </div>
                    </div>
                </div>            
                
            </div>
        </div>
    </div>
    
</section>
