<section class="section">
    <div class="container">
        <div class="position-categories">
            <button type="button" class="categories-button">
                <svg width="14" height="14" class="categories-button--icon">
                    <use href="./img/symbol-defs.svg#icon-frame-bottom" class="icon-toggle-d"></use>
                    <use href="./img/symbol-defs.svg#icon-toggle-n" class="icon-toggle-n"></use>
                </svg>
                </button>
            <div>
                <p class="categories-menu">Categories</p>
                <ul class="categories-list">
                </ul>
            </div>
            <div class="categories-box-other">
                <p class="categories-others">Others</p>
                <button type="button" class="categories-button-other">
                    <svg width="14" height="14" class="categories-button--icon">
                        <use href="./img/symbol-defs.svg#icon-frame-bottom" class="icon-toggle-d"></use>
                        <use href="./img/symbol-defs.svg#icon-toggle-n" class="icon-toggle-n"></use>
                    </svg>
                    </button>
                <ul class="categories-list-others">
                </ul>
            </div>
            <p class="calendar-descr">Search date news</p>
            <input type="text" id="datetime-picker" class="input-calendar"/>
</section>
