<section class="empty">

<p class="empty_title">We haven't found news 
    <br> 
    from this category</p>
<picture>
    <source srcset="./images/mobile.png 1x, ./images/mobile@2x.png 2x" type="image/png" media="(max-width: 480px)"
        alt="empty-page" />
    <source srcset="./images/tablet.png 1x, ./images/tablet@2x.png 2x" type="image/png" media="(max-width:768px)"
        alt="empty-page" />
    <source srcset="./images/desktop.png 1x, ./images/desktop@2x.png 2x" type="image/png" media="(min-width: 1280px)"
        alt="empty-page" />
    <img class="empty_picture" src="./images/mobile.png" alt="empty-page" width="248" height="198" />
</picture>

</section>