<section class="empty">

<p class="empty_title">We haven't found news
    <br>
    from this category</p>
<picture>
    <source srcset="../img/mobile.png 1x, ../img/mobile@2x.png 2x" type="image/png" media="(max-width: 480px)"
        alt="empty-page" />
    <source srcset="../img/tablet.png 1x, ../img/tablet@2x.png 2x" type="image/png" media="(max-width:768px)"
        alt="empty-page" />
    <source srcset="../img/desktop.png 1x, ../img/desktop@2x.png 2x" type="image/png" media="(min-width: 1280px)"
        alt="empty-page" />
    <img class="empty_picture" src="../img/mobile.png" alt="empty-page" width="248" height="198" />
</picture>

</section>