<!-- <footer>
    <div class="backdrop is-hidden" data-modal-auth>
        <div class="modal">
            <button class="button-exit" type="button" data-modal-close-auth>
                <svg width="11" height="11">
                    <use href="./img/icons_site.svg#exit"></use>
                </svg>
            </button>
            <h2 class="modal--head">Sign In user profile</h2>
            <div>
                <form action="" class="modal-form" id="form">
                    <label for="email" class="modal-form--label">Email
                        <input type="email" class="modal-form--input" id="email" name="email" required>
                        <svg width="18" height="18" class="modal-form--icon">
                            <use href="./img/icons_site.svg#mail"></use>
                        </svg>
                    </label>
                    <label for="pass" class="modal-form--label">Password
                        <input type="password" id="pass" class="modal-form--input" required>
                        <svg width="18" height="18" class="modal-form--icon">
                            <use href="./img/icons_site.svg#icon-password"></use>
                        </svg>
                    </label>
                    <button type="submit" class="modal--submit submit-auth" id="submit">Login</button>
                </form>
            </div>

        </div>
    </div>
</footer> -->