<header class="home-header">
	<div class="container position-header">
		<a href="./index.html" class="logo"><span class="logo-header">News</span></a>
		<div class="menu-container" date-menu>
			<nav class="site-nav">
				<ul class="site-nav--list">
					<li class="site-nav--item">
						<a href="" class="site-nav--link"> <svg width="32" height="32" class="icon">
								<use href="./img/symbol-defs.svg#icon-home"></use>
							</svg>Home<svg width="24" height="24" class="icon-right">
								<use href="./img/symbol-defs.svg#icon-Frame-right"></use>
							</svg></a>
					</li>
					<li class="site-nav--item">
						<a href="" class="site-nav--link current-page">
							<svg width="32" height="32" class="icon">
								<use href="./img/symbol-defs.svg#icon_heart-2"></use>
							</svg>Favorite<svg width="24" height="24" class="icon-right">
								<use href="../img/symbol-defs.svg#icon-Frame-right"></use>
							</svg></a>
					</li>
					<li class="site-nav--item">
						<a href="" class="site-nav--link"> <svg width="32" height="32" class="icon">
								<use href="./img/symbol-defs.svg#icon-book"></use>
							</svg>Read<svg width="24" height="24" class="icon-right">
								<use href="./img/symbol-defs.svg#icon-Frame-right"></use>
							</svg></a>
					</li>
				</ul>
			</nav>

		</div>
		<form action="search" class="form-search" id="form-field">
			<button class="search-field__btn" id="form-btn">
				<svg width="20" height="20" class="icon-search">
					<use href="./img/symbol-defs.svg#icon-search"></use>
				</svg>
			</button>

			<input type="text" id="search-field__input" placeholder="Search |" />
		</form>
		<button type="button" class="menu-button" date-menu-button aria-expanded="false"
			aria-label="Перемикач мобільного меню">
			<svg width="24" height="24" class="menu-button--icon">
				<use href="./img/symbol-defs.svg#menu" class="icon-menu"></use>
				<use href="./img/symbol-defs.svg#close" class="icon-close"></use>
			</svg>
		</button>
		<div class="theme-site theme-site__mobile">

			<svg class="mobile-menu__icon-theme sun " width="21" height="21">
				<use href="../img/icons.svg#icon-sun_theme">
			</svg>
			<p class="theme__light">Light</p>
			<input type="checkbox" id="sitetheme" name="highload">
			<label for="sitetheme" class="theme-label"></label>
			<p class="theme__dark">Dark</p>
			<svg class="mobile-menu__icon-theme moon" width="21" height="21">
				<use href="../img/icons.svg#icon-moon_theme">
			</svg>
		</div>
	</div>



</header>
