<div class="theme-site theme-site__mobile">


    <svg class="mobile-menu__icon-theme sun " width="21" height="21">

      <use href="./img/icons.svg#icon-sun_theme">
    </svg>
    <p class="theme__light">Light</p>
    <input type="checkbox" id="sitetheme" name="highload">
    <label for="sitetheme" class="theme-label"></label>
    <p class="theme__dark">Dark</p>
      <svg class="mobile-menu__icon-theme moon" width="21" height="21">
        <use href="./img/icons.svg#icon-moon_theme">
      </svg>
      </div>