<div class="weather">
    <div class="weather__hat">
        <p class="weather__temperature">23°</p>
        <div class="weather__contain">
        <p class="weather__description">Sunny</p>
        <div class="weather__location">
            <svg class="weather__svg">
                <use href="../img/location.svg#Vector"></use>
            </svg>
        <p class="weather__city">London West</p>
        </div>
        </div>
    </div>
    <div class="weather__icon">
        <img class="weather__pic" src="" alt="" >
    </div>
         
        <div class="weather__date">
            <p class="weather__day">Mon <br>
                21 Jan 2021</p>
        </div>
        <div class="weather__button">
            <button class="weather__btn" type="button">weather for week</button>
        
        </div>
    
   
</div>