:root {
    /*color*/
    --main-color: #111321;
    --accent-color: #4440F6;
    --second-color: #A8A8A8;
    --third-color: #ffffff;
    --border-color: #4440F7;
    --theme-color: #4B48DB;

    /*background*/
    --main-light-background: #A8A8A8;
    --main-durk-background: #111321;
    
    /*font*/
    --main-font: Manrope, sans-serif;
    --weather-font: Roboto, sans-serif;
    --calendar-font: Poppins, sans-serif;
}

body {
    font-family: var(--main-font);
    color: var(--main-color);
    background-color: var(--main-light-backgroundd);
}
html {
    overflow-y: scroll;
  }