:root {
  /*color*/
  --main-color: #111321;
  --accent-color: #4440f6;
  --second-color: #a8a8a8;
  --third-color: #ffffff;
  --border-color: #4440f7;
  --theme-color: #4b48db;

  /*background*/
  --main-light-background: #a8a8a8;
  --main-durk-background: #111321;

  /*font*/
  --main-font: Manrope, sans-serif;
  --weather-font: Roboto, sans-serif;
  --calendar-font: Poppins, sans-serif;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
  background-color: #f4f4f4;
}
html {
  overflow-y: scroll;
}
